html {
  background:#abd9e9;
}

#landline_container {
  width:95%;
  max-width:800px;
  margin-left:auto;
  margin-right: auto;
}
#landline_tooltip {
  position:absolute;
  background:rgba(222, 222, 222, 0.90);
  z-index:999999;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:bold;
  font-size:12px;
  padding:2px;
  border-radius:2px;
  box-shadow:0 0 5px #444;
  display:none;
}
#landline_tooltip h2 {
  /*margin:0;*/
  padding:0;
  font-size:18px;
  margin: 0;
  text-transform: uppercase;
  /*letter-spacing: 0.1em;*/
  background: #fe9929;      
  text-align: center;
  color:#333333;
}
.tooltip_jobspercap {
  font-size:36px;
  font-weight:bold;
  display:inline-block;
  color:#d95f0e;
  padding-left:5px;
  padding-top:5px;
}
.tooltip_textnorm {
  padding-left:5px;
  font-size:18px;
  display:inline-block;
  line-height:18px;
  font-weight:normal;
  color:#777;
}
.tooltip_textsmall {
  padding-left:5px;
  padding-top:5px;
  font-size:12px;
  display:inline-block;
  line-height:18px;
  font-weight:normal;
  color:#777;
}

.tails {
  text-decoration: none;
}
