<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script src="../js/landline.js"></script>
    <script src="../js/landline.stateline.js"></script>
    <script src="../js/jquery.js"></script>
    <script src="../js/underscore-min.js"></script>
    <script src="../js/raphael-min.js"></script>
    <script src="states_options.js"></script>
    <script src="states_packaged.js"></script>
    <script src="state_data.js"></script>

    <!-- Create a tooltip container -->
    <script type="text/jst" id="landline_tooltip_tmpl">
      <h2><%= n %></h2>
      <span class="tooltip_sub">
        jobcount <%= jobcount %>
        <br>
        population <%= pop %>       
      </span>
    </script>



  </head>
  <body>
    <div id="landline_container"></div>
    <script>
      $(function() {

        // Initialize the map
        var map = new Landline.Stateline("#landline_container", "states", options);
        
        // Set up the tooltip template
        var tmpl = _.template($("#landline_tooltip_tmpl").html());

        // Add tooltips, and cache the existing style
        // to put it back in place on mouseout
        map.on('mouseover', function(e, path, data) {
          data.existingStyle = (data.existingStyle || {});
          data.existingStyle["fill"]        = path.attr("fill");
          data.existingStyle["strokeWidth"] = path.attr("stroke-width");
          path.attr("fill", "#999").attr("stroke-width", 1);
        });

        map.on('mousemove', function(e, path, data) {
          $("#landline_tooltip").html(tmpl({
              n          : data.get('n'), 
              jobcount : solarjobs[data.fips][1],
              pop : solarjobs[data.fips][2]
            })).css("left", e.pageX + 20).css("top", e.pageY + 20).show();
        });

        map.on('mouseout', function(e, path, data) {
          $("#landline_tooltip").hide();
          _(data.existingStyle).each(function(v, k) {
            path.attr(k, v);
          });
        });

        // define state categoricals
        var stateColor = function(jobs) {
          if (jobs < 500) return "rgb(237,248,233)";
          if (jobs < 1000) return "rgb(186,228,179)";
          if (jobs < 5000) return "rgb(116,196,118)";
          if (jobs < 10000) return "rgb(49,163,84)";
          return "rgb(0,109,44)";
        };

        var commaDelimit = function(a){
          return _.isNumber(a) ? a.toString().replace(/(d)(?=(ddd)+(?!d))/g,"$1,") : "";
        };

        // color states
        _(census).each(function(ary, fips) {
          map.style(fips, "fill", stateColor(ary[1]));
        })

        // Draw the map
        map.createMap();
      });
    </script>

    <div id="landline_tooltip"></div>
  </body>
</html>